[submodule "LostSouls/vendor/spdlog"]
	path = LostSouls/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LostSouls/vendor/GLFW"]
	path = LostSouls/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "LostSouls/vendor/imgui"]
	path = LostSouls/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "LostSouls/vendor/glm"]
	path = LostSouls/vendor/glm
	url = https://github.com/g-truc/glm
